<html>

    <head>
        
        <title>Jellyfin Library</title>

    </head>

    <body>

        <form method="POST" action="/jellyfin" enctype="multipart/form-data">

            <input type="file" name="file" />
            <input type="submit" name="submit" value="upload" />

        </form>

    </body>

</html>